
<!doctype html>
<html lang="en">
<head>
	<% include head_meta.ejs %>
	<title><%- title+"管理" %></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
</head>
<body>

	<!-- 顶部 -->
	<div class="head">
		<div class="ui_head"></div>
	</div>

	<% include nav.ejs %>
	
	<!-- body -->
	<div class="body">
		<div class="ui_body">
			<h2 class="ui_top_title">资源管理</h2>
			<!-- 基础表单 -->
			<div class="ui_form">
				<form action="/" id="form">
					<div>
						<label for="file">上传文件：</label>
						<input type="file" id="file" name="file">
						<a href="javascript:;" class="ui_base_btn" id="js_upload">上传</a>
					</div>
				</form>
			</div>

			<!-- 基础表格 -->
			<div class="ui_table">
				<h3>图片</h3>
				<table>
					<thead>
						<tr>
							<th width="50px;">序号</th>
							<th><%- title+"地址" %></th>
							<th width="150px;"><%- title+"大小" %></th>
							<th width="100px;"><%- title+"作者" %></th>
							<th width="150px;">上传时间</th>
							<th width="150px;">操作</th>
						</tr>
					</thead>
					<tbody>
						<% resource.forEach(function(e,i){ %>
							<tr>
								<td><%= i+1 %></td>
								<td><%= e.path %></td>
								<td><%= e.size %></td>
								<td><%= e.upload_user %></td>
								<td><%= e.upload_time %></td>
								<td>
									<a href="javascript:;" class="ui_table_btn js_delete" key=<%- '"'+e.id+'"' %>>删除</a>
									<a href="javascript:;" class="ui_table_btn">预览</a>
								</td>
							</tr>
						<% }) %>
					</tbody>
					<tfoot>
						<tr>
							<td colSpan="6">
								<div class="ui_pages">
									1234
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

		</div>
	</div>
	<% include foot.ejs %>

</body>
<script type="text/javascript" src="../../js/jquery-min.js"></script>
<script type="text/javascript">
	$(function(){
		// 上传
		$("#js_upload").on("click", function(){

			var formobj =  document.getElementById("form");

			var data = new FormData(formobj);

			$.ajax({
				type: "post",
				url: "/admin/resource",
				data: data,
				processData: false,
	        	contentType: false,
				success: function (data) {
					if(data.target){
						window.location.reload();
					}
				},
				error: function (msg) {
				   	
				}
			});

		});
		// 删除
		$(".js_delete").on("click", function(){

			var key = $(this).attr("key");

			if( window.confirm('你确定要删除'+key+'吗？') ){

				$.ajax({

					type: "post",
					url: "/admin/resource/delete",
					data: {"key" : key},
					dataType: "json",

					success: function (data){
						if(data.target){

							window.location.reload();

						}
					},
					error: function (msg){
					   	
					}

				})

			}else{
				return
			}


		})
	})

</script>
</html>