
<!doctype html>
<html lang="en">
<head>
	<% include head_meta.ejs %>
	<title><%- title+"管理" %></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
</head>
<body>

	<!-- 顶部 -->
	<div class="head">
		<div class="ui_head"></div>
	</div>

	<% include nav.ejs %>
	
	<!-- body -->
	<div class="body">
		<div class="ui_body">
			<h2 class="ui_top_title">资源管理</h2>
			<!-- 基础表单 -->
			<div class="ui_form">
				<form action="/" id="form">
					<div>
						<label for="file">上传文件：</label>
						<input type="file" id="file" name="file">
						<a href="javascript:;" class="ui_base_btn" id="js_upload">上传</a>
					</div>
				</form>
			</div>

			<!-- 基础表格 -->
			<div class="ui_table">
				<h3>图片</h3>
				<table>
					<thead>
						<tr>
							<th width="50px;">序号</th>
							<th>图片地址</th>
							<th>图片大小</th>
							<th>图片作者</th>
							<th width="150px;">上传时间</th>
							<th width="150px;">操作</th>
						</tr>
					</thead>
					<tbody>
						<% resource.forEach(function(e,i){ %>
							<tr>
								<td><%= i+1 %></td>
								<td><%= e.path %></td>
								<td><%= e.size %></td>
								<td><%= e.upload_user %></td>
								<td><%= e.upload_time %></td>
								<td>
									<a href="javascript:;" class="ui_table_btn">删除</a>
									<a href="javascript:;" class="ui_table_btn">预览</a>
								</td>
							</tr>
						<% }) %>
					</tbody>
					<tfoot>
						<tr>
							<td colSpan="6">
								<div class="ui_pages">
									1234
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

		</div>
	</div>
	<% include foot.ejs %>

</body>
<script type="text/javascript" src="../../js/jquery-min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#js_upload").on("click", function(){

			var formobj =  document.getElementById("form");

			var data = new FormData(formobj);

			$.ajax({
				type: "post",
				url: "/admin/resource",
				data: data,
				processData: false,
	        	contentType: false,
				success: function (data) {
					if(data.target){
						window.location.reload();
					}
				},
				error: function (msg) {
				   	
				}
			});

		});
	})

</script>



<script type="text/javascript">
	
	var nav = document.getElementById("js_nav");
	var navLists = nav.getElementsByClassName("ui_nav_one");

	for(var i=0; i<navLists.length; i++){
		navLists[i].addEventListener("click", function listOpen(){
			closeALLlist();
			if(this.getElementsByTagName("ul").length){
				this.getElementsByTagName("ul")[0].className = "show";
				this.getElementsByTagName("i")[1].className = "fa fa-angle-up";
			}
		});
	}

	function closeALLlist(){
		for(var i=0; i<navLists.length; i++){
			if(navLists[i].getElementsByTagName("ul").length){
				navLists[i].getElementsByTagName("i")[1].className = "fa fa-angle-down";
				navLists[i].getElementsByTagName("ul")[0].className = "hide";
			}
		}
	}
	
</script>
</html>