
<!doctype html>
<html lang="en" style="height:100%;">
<head>
	<% include head_meta.ejs %>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/tip.css">
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
</head>
<body style="height:100%; background-color: #333;">
	<div id="test">
		<span>跨越测试</span>
	</div>
	<form action="" id="testform" >
		<span>form跨域测试</span>
	</form>
	<div class="ui_logreg">
		<form action="/admin/login" id="js_form">
			<div>
				<h2><%= title %></h2>
			</div>
			<div>
				<% if(id==="login"){%>
				<label for="username">用户名：</label>
				<input type="text" id="username" value="18505102468" class="ui_base_text" name="username" placeholder="请输入昵称／邮箱" method="username" data-pos="top">
				<% }else{%>
				<label for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
				<input type="text" id="email" value="admin2@admin.com" class="ui_base_text" name="email" placeholder="请输入邮箱" method="email" data-pos="top">
				<% } %>
				
			</div>
			<div>
				<label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
				<input type="text" id="password" value="root123456" class="ui_base_text" name="password" placeholder="请输入密码"  method="password"  data-pos="top">
			</div>
			<div>
				<label for="captcha">验证码：</label>
				<input type="text" id="captcha" value="1234" class="ui_base_text" name="captcha" placeholder="请输入验证码" method="captcha" data-pos="top" style="min-width: 80px; width:80px;">
				<img src=<%- '"data:image/png;base64,'+ccap_img+'"' %> alt="captcha" class="ui_captcha_img" title="点我刷新" id="js_update_captcha">	
			</div>
			<div class="ui_form_btn">
				<a href="javascript:;" class="ui_base_btn" style="line-height: 34px; margin-left: 55px; width: 192px;" id=<%- '"js_'+id+'"' %> ><%= title %></a>
			</div>
		</form>
	</div>
	
</body>
<script type="text/javascript" src="../../js/jquery-min.js"></script>
<script type="text/javascript" src="../../js/validate.js"></script>
<script type="text/javascript">
$(function(){
	// 注册
	if($("#username").length){
		var reg = [$("#username"),$("#password"),$("#captcha")];
	}else if($("#email")){
		var reg = [$("#email"),$("#password"),$("#captcha")];

	}

	$("#js_reg").on("click", function(){
	});
	// 绑定表单事件
	$.each(reg, function (i, e){

		var form_parent = $(this).parents("#js_form");
		e.attr("grade","0");
		var color = ["#00589E", "red", "green"];

		// 注册blur事件
		e.attr("data-class", e[0].className).on("blur", function (){

			var method = $(this).attr("method");
			var baseClass = $(this).attr("data-class");

			if(!$(this).val()){

				this.className = baseClass+" ui_text_error";

				$(this).attr({"data-title": base.meassage[method][0]}).tip({color: color[1], excursion_X: 50, });

				$(this).attr("grade","0");


			}else if(!$(this).val().match(base[method])){

				this.className = baseClass+" ui_text_error";

				$(this).attr({"data-title": base.meassage[method][1]}).tip({color: color[1], excursion_X: 50});

				$(this).attr("grade","0");

			}else{

				this.className = baseClass+" ui_text_success";
				$(this).tip({destory: true});
				$(this).attr("grade","1");

			}
			// 算得分》满分通过
			var grade = 0;
			$(".js_reg").each(function (i, e){

				var key = parseInt( $(e).attr("grade") );
				grade += key; 

			});

			if(grade === $(".js_reg").length){
				form_parent.find(".js_submit").removeClass("desabled");
			}else{
				form_parent.find(".js_submit").removeClass("desabled").addClass("desabled");
			}

		});
		// 注册focus事件
		e.on("focus", function (){
			e[0].className = 'ui_base_text';
			$(this).tip({hide:true});

		})

	});

	// 登录
	$("#js_login").on("click", function(){
		var username = $("#username").val();
		var password = $("#password").val();
		var captcha = $("#captcha").val();
		
		if($.trim(username) === "" || $.trim(password) === "" || $.trim(captcha) === ""){
			return alert("用户名或密码不能为空！")
		}

		$.ajax({
			type: "post",
			url: "/admin/login",
			data: {
				username : username,
				password : password,
				captcha : captcha
			},
			dataType: "json",
			success : function (data){
				if(data.target){
					window.location.href = "http://10.106.90.230:3000/admin/";
				}else{
					$("#"+data.method).attr({"data-title": data.info}).tip({color: "red", excursion_X: 50});
				}
			},
			error: function (err){
				throw err;
			}
		})

	});

	// 注册
	$("#js_reg").on("click", function(){
		var email = $("#email").val();
		var password = $("#password").val();
		var captcha = $("#captcha").val();
		
		if($.trim(email) === "" || $.trim(password) === "" || $.trim(captcha) === ""){
			return alert("用户名或密码不能为空！")
		}

		$.ajax({
			type: "post",
			url: "/admin/reg",
			data: {
				email : email,
				password : password,
				captcha : captcha
			},
			dataType: "json",
			success : function (data){
				if(data.target){
					console.log(data)
				}else{
					$("#"+data.method).attr({"data-title": data.info}).tip({color: "red", excursion_X: 50});
				}
			},
			error: function (err){
				throw err;
			}
		})

	});

	// 验证码更新
	$("#js_update_captcha").on("click", function(){
		var self = this;
		$.ajax({
			type: "get",
			url: "/admin/captcha",
			dataType: "json",
			success: function (data){
				console.log(data.val);
				self.src = data.src;
			},
			error: function (err){
				throw err;
			}
		})
	});

	// 跨域测试

	$("#test").on("click", function(){
		alert(1);
		$.ajax({
			type:"get",
			url: "http://b.a.com/a.json",
			dataType: "json",
			//data:'',  
        	//jsonp:'callback',
        	//jsonpCallback: "success_jsonpCallback",
			success: function (data){
				alert(data);
			},
			error: function (err){
				throw err;
			}
		})
	})

	$("#testform").on("click", function(){
		$(this).attr("action","http://b.a.com/a.json");
		$(this).submit();

	})

})
</script>
</html>













